bootstrap/cache
/node_modules
/public/uploads
/public/hot
/public/storage
/storage/*.key
**/storage
/storage/framework/views/*.php
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/logs/laravel.log
/storage/app/uploads/*
*.zip
*.bak
*_old
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
newlog.log
